.wrapper {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px;  
    padding-right: 10px; 
    padding-left:  10px; 
  }
  #navbar {
    background-color: darkgray;
    color: white;
    text-align: right;
    vertical-align:middle;
    min-height: 20pt;
  }

  .month {
    font-size: 110%;
    font-weight: bold;
    border-bottom: #9999ff 3px solid;
    background-color: #ddddff;
  }
  td.day{
    text-align: right;
  }
  
  td.cell{
    vertical-align: top;
  }
  .sun{
    color: red;
  }

  .sat{
    color: blue;
  }

  .holiday{
    color: red;
    font-weight: bold;
  }

  .vacation{
    color: rgb(247, 94, 120);
    font-weight: bold;
  }

  .workday{
    color: blue;
    font-weight: bold;
  }

  span.note{
    font-size: small;
  }