.wrapper {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px;  
    padding-right: 10px; 
    padding-left:  10px; 
  }
  #navbar {
    background-color: darkgray;
    color: white;
    text-align: right;
    vertical-align:middle;
    min-height: 20pt;
  }

  .month {
    font-size: 110%;
    font-weight: bold;
    border-bottom: #4e5d8d 2px solid;
    background-color: #ededf1;
  }
  td.day{
    text-align: right;
  }
  
  td.cell{
    vertical-align: top;
  }
  .sun{
    color: red;
  }

  .sat{
    color: blue;
  }

  .holiday{
    color: red;
  }

  .vacation{
    color: rgb(196, 55, 79);
  }

  .workday{
    color: blue;
  }

  td.holiday-names {
    vertical-align: top;
    border-top: 1px #ccc solid;
    font-size: 70%;
  }